*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.main{
    padding: 10px;
    background-color:#FEFAF0;
}
body{
    background-color: #ffffff;
}
.f{
    justify-content: center;
    margin-top: -60px;
    margin-left: 600px;
}

header{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #c39126;
}
.btn-group{
    background-color: #FFEBBF;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    left: 500px;
    width: 450px;
    color:black;
    font-weight: bold;
}
.ba{
    font-weight: bold; 
}
.n{
    background-color: #FFEBBF;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    width: 150px;
    border: 0;
    margin-top: 15px;
    margin-left: 530px;
}
.a{
    background-color: #98610E;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    border: 0;
    width:200;
    color: white;
    margin-left: 2px;
}
#chk1{
    display: none;  
}
.container p{
    color: #c39126;
}
.container{
    padding: 20px;;
    margin: 40px;
}
.container img{
    width:100px;
    height: 100%;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:125px ;
}
.b{
    right:5px;
}
header .logo{
    flex: 1;
    height: 150px;
}
header .logo img {
    height: 100%; 
    width:150px; 
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input {
    border: none;
    width:450px;
    outline: none;
    background:white;
    border-radius: 30px;
    font-size: 16px;  
    color: #c39126;
    justify-content: center;
    margin-bottom: 20px;
    text-indent: 5px;
}
.fl{
    color: #c39126;
    position: relative;
}
.search-box:focus{
    box-shadow: none;
    border: none;
}
.search-box i{
    position: relative;
    cursor: pointer;
    color:#C39126;
    justify-content: center;
    top:27px;
    margin-top: 6px;
    margin-left:5px;

}
.container .card i {
    bottom: 20px;
    right: 205px;
    position: absolute;
    border: 0;
    background-color:white;
    cursor: pointer;
    width: 30px;
    justify-content: center;
    vertical-align: text-top;
}
.container .card button{
    border: 0;
    background-color:white;
}

::placeholder{
    margin-left:50px;
    color: #c39126;
    padding-left: 10px;
}

header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
.b{
      text-decoration: none;
       color:#fff;
        border:0;
        background-color:#C39126;
        cursor:pointer;
        width:100px;
}
form i{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    vertical-align: text-top;
}
.fo input{
    padding:2px;
    outline: none;
    border: 1px solid #c39126;
    color:#1E1E1E ;
    
}
.fo button{
    margin: 10px;
    padding:2px;
    border: none;
    width: 110px;
    outline: none;
    color: #fff;
    font-weight:100;
    background:#c39126;
    border-radius: 30px;
    margin-left:60px;
}
.fo1 input{
    padding:2px;
    outline: none;
    border: 1px solid #c39126;
    color:#1E1E1E ;
}
label {
    font-weight: 150;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
}
.fo1{
    border-left: 1px solid gray;
    padding: 10px;
}
